---
title: Marco
description: Marco's portfolio
stylesheets: ["/styles/style_home.css"]
---

<div class="space"></div>

<div class="profile">
	<img src="/profile.avif">
</div>

<div class="space-small"></div>

<p class="center information">Hi, I'm Marco<br>a CG artist and music composer.</p>

<div class="space-small"></div>

<div class="social">
	<a title="Email" href="mailto:marco.pavanello@protonmail.com">
		<img src="/logos/email.svg">
	</a>
	<a title="Mastodon" href="https://fosstodon.org/@nacioss">
		<img src="/logos/mastodon.svg">
	</a>
	<a title="GitLab" href="https://gitlab.com/users/marcopavanello/projects">
		<img src="/logos/gitlab.svg">
	</a>
</div>

<div class="space"></div>
<div class="space"></div>

<p class="paragraph high-emphasis">Currently based in Italy, I mainly work on 3D assets at <a href="https://wolfstudio.io/">Wolf</a>, my company.</p>
<p class="paragraph high-emphasis">In the free time I like writing music pieces, and enjoy art on digital mediums of any sort.</p>
<p class="paragraph high-emphasis">I also produce and direct my own short films, available to watch <a href="https://wolfstudio.io/films/">here</a>.</p>
