{{ define "main" }}

{{ range $.Site.Data.photos }}
    {{ $base := .basepath }}
    <h2 class="high-emphasis">{{ .year }}</h2>
    <div class="grid">
        {{ range .images }}
            {{ $imagepath := printf "%s%s" $base .name }}
            {{ $image := resources.Get $imagepath }}
            {{ $thumb := $image.Fill ( printf "256x256 webp q70 %s" .crop ) }}
            <a href="{{ $image.Permalink }}">
                <img src="{{ $thumb.Permalink }}">
            </a>
        {{ end }}
    </div>
    <div class="space-small"></div>
{{ end }}

<p class="license">All the images are released under the CC-BY license</p>

<div class="space"></div>

<p class="paragraph high-emphasis">Sometimes I like taking photos, here are some taken both with my phone and a DSLR.</p>

{{ end }}
