{{ define "main" }}

<div class="posts">
    {{ range .Pages }}
    <a class="post border" href="{{ .Permalink }}">
	    <img src="{{ .Params.image }}">
	    <h2>{{ .Title }}</h2>
	    <p>{{ .Date.Format "2006-01-02" }}</p>
    </a>
    {{ end }}
</div>

<div class="space"></div>

<p class="paragraph high-emphasis">Here I share news</p>

{{ end }}
