{{ define "main" }}

<div class="albums">
    {{ range index $.Site.Data .Params.sort }}
    {{ $page := $.Site.GetPage . }}
        <a class="album border" href="{{ $page.Permalink }}">
            <img src="{{ $page.Params.cover }}">
            <h2>{{ $page.Params.title }}</h2>
            <p>{{ $page.Params.year }}</p>
        </a>
    {{ end }}
</div>

<div class="space"></div>

<p class="paragraph high-emphasis">Sometimes, I like writing music pieces, here are some albums.</p>

{{ end }}
