{{ define "main" }}

<h1>{{ .Params.title }}</h1>

<div class="cover">
    <img src="{{ .Params.cover }}">
</div>

<div class="space-small"></div>

{{ $path := "tracks/*" }}
<div class="center">
    <div class="tracks border">
        {{ range $index, $element := $.Page.Resources.Match $path }}
            <div class="track">
                {{ $base := path.Base .Name }}
                {{ $track := replace $base (path.Ext $base) "" }}
                <p>{{ substr $track 3 }}</p>
                <audio controls preload="metadata">
                    <source src="{{ .RelPermalink }}" type="audio/webm" codecs="opus">
                </audio>
            </div>
        {{ end }}
    </div>
</div>

<p class="license">All the tracks are released under the CC-BY license</p>

<div class="space"></div>

<div class="infobox border">
    <div class="column">
        <div class="left">
            <p>Year :</p>
            <p>Duration :</p>
            <p>Download :</p>
        </div>
    </div>
    <div class="column">
        <p>{{ .Params.year }}</p>
        <p>{{ .Params.duration }}</p>
        <p>
            <a href="{{ .Params.download }}">High Quality</a>
        </p>
    </div>
</div>

<div class="space"></div>

{{ .Content }}

{{ end }}