/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
}


p {
	color: rgba(var(--theme), var(--high-emphasis));
}

.background img {
	width: 100%;
	filter: var(--img);
	border-radius: var(--round);
}

.date {
	color: rgba(var(--theme), var(--medium-emphasis));
	text-align: center;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.background {
		width: 100%;
	}
	.post {
		padding: 0;
	}
}

@media only screen and (min-width: 600px) {
	.background img {
		width: 60%;
	}
	.post {
		padding: 0 15%;
	}
}
