/* Theme */
:root {
	--theme: var(--neutral);
	--audio-firefox: grayscale(100%) invert(100%);
	--audio-chrome: grayscale(0%) invert(0%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--audio-firefox: grayscale(0%) invert(0%);
		--audio-chrome: grayscale(100%) invert(100%);
	}
}


.cover {
	width: 100%;
	text-align: center;
}

.cover img {
	width: 350px;
	border-radius: var(--round);
}

.info {
	text-align: center;
	font-size: 16px;
	color: rgba(var(--theme), var(--medium-emphasis));
}

.tracks {
	display: inline-block;
	width: 60%;
	padding: 10px;
	text-align: center;
}

.track {
	width: 100%;
	margin: 8px 0 8px 0;
}

.track p {
	text-align: center;
	margin-top: 20px;
}

audio {
	width: 100%;
	border-radius: 50px;
}

/* Hack to detect a missing feature in each browser */
audio {
	filter: var(--audio-chrome);
	background: none;
}

@supports (font-size-adjust: none) {
    audio {
        filter: var(--audio-firefox);
		background: rgb(var(--body));
    }
}

@supports (hanging-punctuation: none) {
    audio {
        filter: var(--audio-firefox);
		background: none;
    }
}

.infobox {
	width: 300px;
	margin: auto;
}

.infobox:after {
	content: "";
	display: table;
	clear: both;
}

.infobox .column {
	float: left;
	width: 50%;
}

.column {
	float: left;
	width: 50%;
}

.left p {
	text-align: right;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.cover img {
		width: 80%;
	}
	.tracks {
		width: 100%;
	}
	.infobox {
		width: 100%;
	}
}