/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
}


.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 5%;
	margin-top: 30px;
}

.grid img {
	width: 100%;
	border-radius: var(--round);
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.grid a {
		width: 48%;
		margin: 0px 2px;
	}
	.grid {
		padding: 0 0%;
	}
}

@media only screen and (min-width: 600px) {
	.grid a {
		width: auto;
		margin: 0px 2px;
	}
}
