/* Light style */
:root {
	--dp1: 0.05;
	--dp2: 0.07;
	--dp3: 0.08;
	--dp4: 0.09;
	--dp6: 0.11;
	--dp8: 0.12;
	--dp12: 0.14;
	--dp16: 0.15;
	--dp24: 0.16;

	--high-emphasis: 0.87;
	--medium-emphasis: 0.6;
	--disabled: 0.38;

	--round: 14px;
	--selected: 0.75;
	--menu-opacity: 0.5;
	--border-opacity: 0.2;

	--body: 255, 255, 255;
	--body-img: invert(100%);

	--neutral: 0, 0, 0;
	--neutral-img: invert(100%) brightness(20%);
}

/* Dark style */
@media (prefers-color-scheme: dark) {
	:root {
		--menu-opacity: 0.8;
		--border-opacity: 0.4;

		--body: 18, 18, 18;
		--body-img: invert(7%);
		
		--neutral: 255, 255, 255;
		--neutral-img: invert(100%) brightness(100%);
	}
}


/* General */
* {
	box-sizing: border-box;
}

@font-face {
	font-family: Montserrat;
	src: url("fonts/Montserrat-Regular.woff2") format("woff2");
}

body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(var(--body));
	margin: 0;
	padding: 0;
}

h1 {
	color: rgb(var(--theme));
	font-size: 34px;
	line-height: 150%;
	font-weight: normal;
	text-align: center;
	margin: 30px 5%;
}

h2 {
	color: rgb(var(--theme));
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	margin: 15px 5%;
}

p {
	color: rgb(var(--theme));
	font-size: 16px;
	line-height: 160%;
	text-align: left;
	margin: 5px 5%;
}

a, #menu input {
	-webkit-tap-highlight-color: transparent;
}

main {
	padding-top: 100px;
}


/* Content */
a {
	color: rgb(var(--theme));
}

.center {
	text-align: center;
}

.medium-emphasis {
	color: rgba(var(--theme), var(--medium-emphasis));
}

.high-emphasis {
	color: rgba(var(--theme), var(--high-emphasis));
}

.paragraph {
	padding: 0 20%;
}

.border {
	padding: 14px;
	border-radius: var(--round);
	background: rgba(var(--theme), var(--dp4));
	border: 1px solid rgba(128, 128, 128, var(--border-opacity));
}

.license {
	text-align: center;
	font-size: 12px;
	color: rgba(var(--theme), var(--disabled));
}


/* Space */
.space {
	height: 100px;
}

.space-small {
	height: 50px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
	.paragraph {
		padding: 0;
	}
}
