/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
}


.albums {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}

.albums a {
	text-decoration: none;
}

.album {
	position: relative;
	width: 300px;
	height: auto;
	margin: 20px;
	padding-bottom: 10px;
	transition: all 0.3s;
}

.album img {
	width: 100%;
	border-radius: var(--round);
}

.album p {
	font-size: 14px;
	color: rgba(var(--theme), var(--medium-emphasis));
	position: relative;
	text-align: center;
	bottom: 8px;
}

.album:hover {
	background: rgba(var(--theme), var(--dp24));
}

/* Responsive */
@media only screen and (max-width: 600px) {
	.albums {
		padding: 0 10%;
	}
	.album {
		width: 100%;
		margin: 10px 0;
	}
}
